.containerFluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.container {
  @extend .containerFluid;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.brand {
  color: #fff;
  text-align: left;
}

.title {
  font-size: 4.2rem;
  font-weight: 600;
  display: inline-block;
  position: relative;
}

.subtitle {
  font-size: 1.313rem;
  max-width: 500px;
  margin: 10px 0 0;
}